body {
    background-color: grey;
    overflow: hidden; 
}
.container-main {
    max-width: 85%;
    width: 85%;
    float: left;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: scroll; 
    background: #EFF0F1;
}
.container-language {
    position: fixed;
    right:0;
    bottom:0;
    min-width: 80px;
    width: 15%;
    float: right;
    max-height: 90%;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll; 
    background: #c6c7ce;
    -ms-overflow-style: none; /*IE and Edge no scrollbar*/
    scrollbar-width: none; /*firefox no scrollbar*/
}

/*no scrollbar Chrome, Safari and Opera*/
.container-language::-webkit-scrollbar {
    display: none;
}

.container-language button {
    max-width: 100%;
    min-height: 50px;
    margin-top: 10px;
    width: 100%;
    height: 10%;
    font-size: 1.2em;
    font-weight: bold;
    background: ;
}

#langall {
margin-bottom: 20px;
}

