body {
  background-color: #505356;
  overflow: hidden;
}

.container-main {
  position: absolute;
  top: 5px;
  width: 63%;
  height: 100vh;
  max-height: calc(100% - 10px);
  overflow-x: scroll;
  overflow-y: scroll;
  background: #1b1c17;
  border-left: solid #747576;
  border-right: solid #747576;
  margin-left: calc(0.3% + 20% + 1px);
}
.container-search {
  position: absolute;
  left: 0.3%;
  top: 5px;
  min-width: 120px;
  width: 20%;
  background: #1b1c17;
  max-height: calc(100% - 10px);
  height: 100vh;
  border-left: solid #747576;
  border-right: solid #747576;
}
.container-language {
  position: fixed;
  right: 0.3%;
  top: 5px;
  min-width: 80px;
  width: 15%;
  max-height: calc(100% - 10px);
  margin-bottom: 10px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #1b1c17;
  -ms-overflow-style: none; /*IE and Edge no scrollbar*/
  scrollbar-width: none; /*firefox no scrollbar*/
  border-left: solid #747576;
  border-right: solid #747576;
  cursor: cell;
  user-select: none;
}
/*no scrollbar Chrome, Safari and Opera*/
.container-language::-webkit-scrollbar {
  display: none;
}
.langbutton {
  float: right;
  margin-right: 1.8%;
  min-width: 76px;
  min-height: 50px;
  margin-top: 10px;
  width: 96%;
  height: 10%;
  font-size: 1.2em;
  font-weight: bold;
  background-color: rgba(120, 120, 120, 0.2);
  color: rgb(225, 152, 10);
  border: 1px solid #696969;
  text-shadow: -1px 1px 5px black;
  cursor: cell;
  user-select: none;
}

.langbutton:hover {
  font-size: 1.5em;
  border: 2px solid #979796;
}
#langall {
  margin-bottom: 20px;
  background-color: rgba(150, 150, 150, 0.7);
}

#stars {
  width: 200px;
}
